.y-tick {
    stroke: black;
    fill: none;
    stroke-width: 1px;
}

.line-separator, .x-axis {
    stroke: #777;
    fill: none;
    stroke-width: 1px;
}

.drop-line:last-child .line-separator {
    display: none;
}

text {
    stroke: none;
    fill: black;
}
product {
    border: 1px solid;
    background-color: sandybrown;
    border-radius: 5px;
    padding: 16px;
    margin: 20px;
}
